@use "../abstract/" as *;

body {
  margin: 0;
  min-height: 100dvh;
  display: flex;
  background-color: $clr-primary-pale-blue;
  align-items: flex-start;
  justify-content: center;
  font-size: $fs-400;

  background-image: url("../images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (min-width: 64em) {
    background-image: url("../images/pattern-background-desktop.svg");
  }
}

body,
button {
  font-family: $ff-primary;
}
