$clr-primary-pale-blue: hsl(225, 100%, 94%);
$clr-primary-bright-blue: hsl(245, 75%, 52%);
$clr-primary-white: hsl(225, 100%, 99.9%);

$clr-neutral-pale-blue: hsl(225, 100%, 98%);
$clr-neutral-desaturated-blue: hsl(224, 23%, 55%);
$clr-neutral-dark-blue: hsl(223, 47%, 23%);
$clr-neutral-lila: hsl(245, 85%, 69%);
